html, body {
  margin: 0;
  height: 100%;
  background-color: #111;
}

.pan-zoom-svg {
  width: 100vw;
  height: 100vh;
  display: block;
  cursor: grab;
}

.poster {
  margin-top:15px; 
  justify-content: center;
  font-size: 0.3rem;
  letter-spacing: 1px;
  color: #2c1717;
  text-align: center;
  word-break: break-word;
  white-space: normal;
  width: 100%;
  height: 100%;
}

.poster-header-1 {
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 2px;
}

.poster-header-2 {
    font-weight: 600;
    font-size: 5rem;
    margin-bottom: 10px;
}

.poster-text-1 {
  font-size: 2.2rem;
  font-weight: 600;
}

.poster-text-2 {
  font-size: 3rem;
  font-weight: 600;

}

.font-2 {
  font-size: 2rem;
  text-align: center;
  word-break: break-word;  
}

.font-2-5 {
  font-size: 2.5rem;
  text-align: center;
  word-break: break-word;  
}

.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}

.reenie-beanie-regular {
  font-family: "Reenie Beanie", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 0.4rem;
}

.homemade-apple-regular {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
}

.qwigley-regular {
  font-family: "Qwigley", cursive;
  font-weight: 400;
  font-style: normal;
}

.ms-madi-regular {
  font-family: "Ms Madi", cursive;
  font-weight: 400;
  font-style: normal;
}