html, body {
  margin: 0;
  height: 100%;
  background-color: #111;
}

.pan-zoom-svg {
  width: 100vw;
  height: 100vh;
  display: block;
  cursor: grab;
}

.poster {
  display: flex;
  margin-top:15px; 
  justify-content: center;
  font-size: 0.3rem;
  letter-spacing: 1px;
  color: #222;
  text-align: center;
  word-break: break-word;
  white-space: normal;
  max-width: 150px;
  font-weight:400;
  height: 100%;
}

.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}