html, body {
  margin: 0;
  height: 100%;
  background-color: #111;
}

.pan-zoom-svg {
  width: 100vw;
  height: 100vh;
  display: block;
  cursor: grab;
}

.city-label {
  fill: white;
  font-size: 2rem;
  font-family: sans-serif;
  pointer-events: none;
  transform: translateY(-30px);
  transition: transform 0.2s ease;
}

.city {
  fill: red;
  stroke: white;
  stroke-width: 3;
  transform-box: fill-box;
  transform-origin: center;
  transition: transform 0.2s ease;
}

.city-group path {
  transition: filter 1s;
  transition: stroke-width 1s;
}

.city-group:hover path {
  filter: drop-shadow(0 0 35px yellow);
  stroke-width: 10;
}

.silverhold-house path {
  transition: filter 0.75s;
  transition: stroke-width 0.75s;
}

.silverhold-house:hover path {
  filter: drop-shadow(0 0 25px yellow);
  stroke-width: 1;
}

.roof-text {
  display: flex;
  margin-top:15px;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
  letter-spacing: 1px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 0, 0.51);
  text-align: center;
  word-break: break-word;
  white-space: normal;
  max-width: 50px;
  font-weight:400;
}