html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #111;
}

.pan-zoom-svg {
  width: 100vw;
  height: 100vh;
  display: block;
  cursor: grab;
}

.city {
  fill: red;
  stroke: white;
  stroke-width: 3;
  cursor: pointer;
}
.city:hover {
  r: 30;
}
