html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
svg {
  width: 100%;
  height: 100vh;
  display: block;
  touch-action: none;
  transform-origin: center center; 
}

.city {
  fill: rgb(255, 0, 0, 0.5);
  stroke: white;
  stroke-width: 1.5;
  cursor: pointer;
  transition: transform 0.2s;
  transform-box: fill-box; 
  transform-origin: center; 
}

.city:hover {
  transform: scale(2.5);
}